<%= render layout: 'admins/shared/painel', locals: { page: 'auctions_list' } do %>
  <div class="container mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Editar Leilão</h5>
        <%= form_for(@auction, as: :auction, url: edit_admins_auction_path(@auction.id)) do |f| %>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <%= f.label :title, class: "form-label" %>
                <%= f.text_field :title, autofocus: true, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <%= f.label :start_date, class: "form-label" %>
                <%= f.date_field :start_date, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <%= f.label :end_date, class: "form-label" %>
                <%= f.date_field :end_date, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <%= f.label :opening_bid, class: "form-label" %>
                <%= f.text_field :opening_bid, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <%= f.label :modality, class: "form-label" %>
                <% @modality_fields = { 'online': 'Online', 'habilitado': 'Habilitado' } %>
                <%= f.select :modality, options_from_collection_for_select(@modality_fields, :first, :last, '2'), { include_blank: false, prompt: 'Selecione uma modalidade' }, { class: "form-control" } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="mb-3">
                <%= f.label :postal_code, class: "form-label" %>
                <%= f.text_field :postal_code, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mb-3">
                <%= f.label :street_address, class: "form-label" %>
                <%= f.text_field :street_address, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mb-3">
                <%= f.label :street_number, class: "form-label" %>
                <%= f.text_field :street_number, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="mb-3">
                <%= f.label :neighborhood, class: "form-label" %>
                <%= f.text_field :neighborhood, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <%= f.label :city, class: "form-label" %>
                <%= f.text_field :city, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <%= f.label :state, class: "form-label" %>
                <%= f.text_field :state, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <%= f.label :country, class: "form-label" %>
                <%= f.text_field :country, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :description, class: "form-label" %>
            <%= f.text_area :description, class: "form-control", rows: 5 %>
          </div>
          <div class="mb-3">
            <%= f.label :important_notices, class: "form-label" %>
            <%= f.text_area :important_notices, class: "form-control", rows: 5 %>
          </div>

          <div class="mb-3 text-end">
            <%= f.submit "Atualizar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<%- end %>
