<%= render partial: 'partials/header' %>
<%= render partial: 'partials/carousel' %>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">
        <%= link_to 'Meu Cadastro', my_account_index_path, class: "list-group-item list-group-item-action" %>
        <%= link_to 'Meus Documentos', documents_path, class: "list-group-item list-group-item-action" %>
        <%= link_to 'Meus Lotes Arrematados', reward_index_path, class: "list-group-item list-group-item-action" %>
        <%= link_to 'Meus Lances', bets_path, class: "list-group-item list-group-item-action active" %>
        <%= link_to "Sair", destroy_user_session_path, class: "list-group-item list-group-item-action", method: :delete %>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Meus Lances</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" width="20%">Data</th>
                <th scope="col">Lote</th>
                <th scope="col">Lance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>15/10/2021</td>
                <td>FORD RANGER 3,2 4X4 CD DIESEL - Bauru, SP</td>
                <td>R$ 114.000,00</td>
              </tr>
              <tr>
                <td>15/10/2021</td>
                <td>HONDA CIVIC 2.0 16V ONE EX FLEX - Bauru, SP</td>
                <td>R$ 114.000,00</td>
              </tr>
              <tr>
                <td>15/10/2021</td>
                <td>FORD RANGER 3,2 4X4 CD DIESEL - Bauru, SP</td>
                <td>R$ 114.000,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'partials/footer' %>
