<%= render partial: 'partials/header' %>
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h4 class="fw-bold">Veiculos</h4>
    <h1 class="display-5 fw-bold"><%= @auction.title %></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-1">
        <label class="fw-bold">Modalidade:</label> <span><%= @auction.modality %></span>
      </p>
      <p class="lead mb-1">
        <label class="fw-bold">Data de início:</label> <span><%= @auction.start_date.to_date.strftime('%d/%m/%Y') %></span>
      </p>
      <p class="lead mb-4">
        <label class="fw-bold">Data de Término:</label> <span><%= @auction.end_date.to_date.strftime('%d/%m/%Y') %></span>
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Habilitar para leilão</button>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'partials/footer' %>