<ul class="menu-list">
  <li><%= link_to 'Resultados', admins_dashboard_path, class: 'menu-link' %></li>
  <li><%= link_to 'Todos os Clientes', admins_clients_path, class: 'menu-link' %></li>
  <li><%= link_to 'Lista de Leilões', admins_auctions_path, class: 'menu-link' %></li>
  <li><%= link_to 'Ver Lances', '#', class: 'menu-link' %></li>
  <li><%= link_to 'Lista de Arremates', '#', class: 'menu-link' %></li>
  <li><%= link_to 'Configurações', admins_settings_path, class: 'menu-link' %></li>
</ul>